/src/tools/init/sxinit
/src/tools/ls/sxls
/src/tools/cp/sxcp
/src/tools/cat/sxcat
/src/tools/vol/sxvol
/src/tools/acl/sxacl
/src/tools/sxreport-client/sxreport-client
/src/tools/rm/sxrm
/src/tools/rev/sxrev
