/test/*.log
/test/*.trs
/test-suite.log
/valgrind-test-suite.log
/valgrind.*.log
/coverage/
/testdb/
/src/fcgi/sx.fcgi
/src/tools/sxadm/sxadm
/src/tools/sxsim/sxsim
/src/tools/sxreport-server/sxreport-server
/test/benchcmp
/test/check_hashfs
/test/check_misc
/test/hashcopy
/test/hdist/hdistsim
/test/internalbench
/test/manyfiles
/test/manytx
/test/printerrno
/test/randgen
/test/test-nginx1.conf
/test/testfile
/test/fastcgi_params
/test/hdist-test
